html, body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    background-color: #A5BACD;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
    font-size: 1.5rem;
    line-height: 2.3rem;
    margin: 2rem auto 2rem auto;
    max-width: 800px;
    text-align: center;
}

@media(max-width: 600px) {
    html, body {
        font-size: 60%;
        padding: 1rem;
    }
}

img {
    width: 100%;
    max-width: 700px;
}

.blur {
    filter: blur(5px);
  }

.color1 {
    color: #7CB342 
}

.color2 {
    color: #689F38
}

.color3 {
    color: #558B2F
}

.color4 {
    color: #33691E
}

#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
  }

  .snowflake {
    position: fixed;
    background-color: #F06292 ;
    user-select: none;
    z-index: 1000;
    pointer-events: none;
    border-radius: 60%;
    width: 20px;
    height: 20px;